<% const cache = Math.floor(Math.random() * 100000000000000) %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../shared/dat.gui.css" />
  <link rel="stylesheet" href="stylesheet.css" />

  <!-- This allows us to create a simple configuration UI in dev and QA environments -->
  <script src="../shared/dat.gui.min.js"></script>

  <!-- PhotoEditorSDK CSS / JS -->
  <script src="../../js/vendor/react.development.js"></script>
  <script src="../../js/vendor/react-dom.development.js"></script>
  <script src="../../js/vendor/prop-types.js"></script>

  <script src="../../js/PhotoEditorSDK.js?<%= cache %>"></script>
  <!-- <script src="../../js/PhotoEditorSDK.Core.js"></script> -->
  <!-- <script src="../../js/PhotoEditorSDK.Operations.js"></script> -->
  <!-- <script src="../../js/PhotoEditorSDK.Operations.Transform.js"></script>
  <script src="../../js/PhotoEditorSDK.Operations.Orientation.js"></script>
  <script src="../../js/PhotoEditorSDK.Operations.Adjustments.js"></script>
  <script src="../../js/PhotoEditorSDK.Operations.Blur.js"></script>
  <script src="../../js/PhotoEditorSDK.Operations.Filter.js"></script>
  <script src="../../js/PhotoEditorSDK.Operations.Frame.js"></script>
  <script src="../../js/PhotoEditorSDK.Operations.LinearFocus.js"></script>
  <script src="../../js/PhotoEditorSDK.Operations.MirroredFocus.js"></script>
  <script src="../../js/PhotoEditorSDK.Operations.Overlay.js"></script>
  <script src="../../js/PhotoEditorSDK.Operations.RadialFocus.js"></script>
  <script src="../../js/PhotoEditorSDK.Operations.Sprite.js"></script>
  <script src="../../js/PhotoEditorSDK.Operations.Transform.js"></script>
  <script src="../../js/PhotoEditorSDK.Operations.Watermark.js"></script> -->

  <script src="../../js/PhotoEditorSDK.UI.DesktopUI.js?<%= cache %>"></script>
  <link rel="stylesheet" href="../../css/PhotoEditorSDK.UI.DesktopUI.css?<%= cache %>" />

  <!-- <script src="../../js/PhotoEditorSDK.UI.DesktopUI.Core.js"></script> -->
  <!-- <script src="../../js/PhotoEditorSDK.UI.DesktopUI.Controls.js"></script> -->
  <!-- <script src="../../js/PhotoEditorSDK.UI.DesktopUI.Controls.Transform.js"></script>
  <script src="../../js/PhotoEditorSDK.UI.DesktopUI.Controls.Adjustments.js"></script>
  <script src="../../js/PhotoEditorSDK.UI.DesktopUI.Controls.Brush.js"></script>
  <script src="../../js/PhotoEditorSDK.UI.DesktopUI.Controls.Filter.js"></script>
  <script src="../../js/PhotoEditorSDK.UI.DesktopUI.Controls.Focus.js"></script>
  <script src="../../js/PhotoEditorSDK.UI.DesktopUI.Controls.Frame.js"></script>
  <script src="../../js/PhotoEditorSDK.UI.DesktopUI.Controls.Overlay.js"></script>
  <script src="../../js/PhotoEditorSDK.UI.DesktopUI.Controls.Sticker.js"></script>
  <script src="../../js/PhotoEditorSDK.UI.DesktopUI.Controls.Text.js"></script>
  <script src="../../js/PhotoEditorSDK.UI.DesktopUI.Controls.Library.js"></script> -->

  <!-- PhotoEditor SDK React UI -->
  <script src="../../js/PhotoEditorSDK.UI.ReactUI.js?<%= cache %>"></script>
  <link rel="stylesheet" href="../../css/PhotoEditorSDK.UI.ReactUI.css?<%= cache %>" />

  <!-- Example library provider -->
  <script src="../shared/library-provider.js"></script>

  <!-- Example photoroll provider -->
  <script src="../shared/photoroll-provider.js"></script>

  <!-- Development files -->
  <script src="../shared/config.js"></script>
  <script src="../shared/config-gui.js"></script>

  <script src="app.js"></script>
</head>
<body>
  <div id="container" class="fullscreen"></div>
  <div class="links">
    <a href="#" id="webgl" class="link active">WebGL</a> | <a href="#" id="canvas" class="link">Canvas</a>
  </div>
</body>
</html>
